In [2]:
import numpy as np

In [3]:
numbers=[1,2,3,4,5]
np.mean(numbers)

3.0

In [4]:
print("Hello World")

Hello World

In [5]:
import pandas as pd

In [6]:
serier=pd.Series(['createMeoldy','Pheonix','866'])

In [7]:
print(serier)

0    createMeoldy
1         Pheonix
2             866
dtype: object

In [8]:
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
            'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                     'Lions', 'Lions'],
            'wins': [11, 8, 10, 15, 11, 6, 10, 4],
            'losses': [5, 8, 6, 1, 5, 10, 6, 12]}

In [9]:
football=pd.DataFrame(data)

In [10]:
print football

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [11]:
football.describe()

          losses       wins         year
count   8.000000   8.000000     8.000000
mean    6.625000   9.375000  2011.125000
std     3.377975   3.377975     0.834523
min     1.000000   4.000000  2010.000000
25%     5.000000   7.500000  2010.750000
50%     6.000000  10.000000  2011.000000
75%     8.500000  11.000000  2012.000000
max    12.000000  15.000000  2012.000000

In [12]:
a=[1,2,3,4,5]
b=[2,3,4,5,6]
np.dot(a,b)

70

In [13]:
from sklearn import datasets

In [14]:
from sklearn import metrics

In [15]:
from sklearn.linear_model import LinearRegression